.relaunch{

}

@media (max-width:1024px){
  .relaunch{
  width: 100%;
  max-width: 580px;
  min-width: 580px;
  margin-top: 80px;
  }
}
@media (max-width:768px){
  .relaunch{
  width: 100%;
  max-width: 500px;
  min-width: 500px;
  margin-top: 80px;
  }
}
