.card_add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #c05b5b;
  padding: 10px;
  text-align: center;
  border: 1px solid #c05b85;
  border-radius: 4px;
  cursor: pointer; /* Меняем курсор при наведении */
  transition: 0.2s;
  margin-top: auto; /* Прижимаем кнопку к низу карточки */
}

.card_add:hover {
  border: 1px solid #ff6633;
  background-color: #ff6633;
  color: #fff;
}
