.footer__container{
  margin: 50px 0 0 0;
  max-width: calc(1120px + 40px * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
@media (max-width:1024px){
  .footer__container{
    max-width: calc(580px + 40px *2);
  }
}
@media (max-width:768px){
  .footer__container{
    max-width: calc(270px + 40px *2);
  }
}
@media (max-width:360px){
  .footer__container{
    max-width: calc(220px + 40px *2);
  }
}
