.about__container{
  margin: 80px 0 0 0;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 1024px){
  .about__container{
    max-width: 580px;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 768px){
  .about__container{
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
  }
}
