.header__link {
  font-size: 19px;
  line-height: 21px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--white);
}
@media (max-width:500px){
  .header__link{
    font-size: 15px;
  }
}
