.wood{
  width: 100%;
  max-width: 580px;
  min-width: 580px;
}
@media (max-width:1200px){
  .wood{
  width: 100%;
  max-width: 660px;
  min-width: 660px;
  margin-top: 80px;
  }
}
@media (max-width:768px){
  .wood{
  width: 100%;
  max-width: 350px;
  min-width: 350px;
  margin-top: 80px;
  }
}
@media (max-width:480px){
  .wood{
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  margin-top: 80px;
  }
}
@media (max-width:500px){
  .wood{
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  margin-top: 80px;
  }
}
