.header__lists{
  padding: 25px;
  margin: 0 0 0 75px;
  width: 100%;
  max-width: 500px;
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px){
  .header__lists{
    max-width: 350px;
    min-width: 350px;
  }
}
@media (max-width: 500px){
  .header__lists{
    max-width: 250px;
    min-width: 250px;
    padding: 20px;
    margin: 0 0 0 15px;
  }
}
